# Dependencies
node_modules/

# Lighthouse reports
reports/
report.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db

# Environment files (if you add any secrets later)
.env
